.item-container {
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
}
.description {
    font-size: 16px;
}
.selected-prompt {
    margin-top: auto;
    text-align: right;
}