.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 95vh;
}
.left-container {
    width: 15%;
}
.main-container {
    width: calc(85% - 15px);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.devices-container {
    height: 200px;
}
.function-page-container {
    margin-top: 10px;
}